h1 {
  color : #2c3e50;
}

body {
  background-color: #e67e22;
}

.name_input, .todo_input{
  background-color: #e67e22;
  border : none;
  color : white;
  outline : none;

}

.name_input::placeholder, .todo_input::placeholder {
  color : white;

}

.hello_text_button, button{
  background-color: #e67e22;
  border: none;
  color: #2c3e50;
}

.hello_text_container{
  display : flex;
}

.hello_text{
 margin :0;
}

.hello{
  /* position : relative; */
}


.hide {
  display : none;
}


.list{
  text-decoration : none;
  list-style : none;
}
